#myList{
    height:500px;
    background-color:red;
    background-image:linear-gradient(to right,red,yellow);
    width:40%;
    font-size:40px;
}


#myNewList {
    height: 300px;
    background-color: red;
    background-image: linear-gradient(to right,green,yellow);
    width: 40%;
    font-size: 50px;
    font-family:Bahnschrift;
    transition: width 1s;
}

#myNewList:hover {
    width: 600px;
    height: 600px;
}

#changeBtn {
    margin: 0;
    position: absolute;
    left:10px;
    top: 60%;
    /*-ms-transform: translateY(-10%);
    transform: translateY(-10%);*/
}

#h1Demo1 {
    font-size:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#h1Demo2 {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:orange;
    text-shadow: 3px 3px purple;
}

li {
    color: white;
    width: 150px;
    height: 100px;
    background: rgb(38, 0, 255);
    transition: width 2s, height 2s, transform 2s;
  }
  
  li:hover {
    width: 300px;
    height: 200px;
    transform: rotate(360deg);
  }